.hints-container {
    --height: auto; /* set in javascript */

    --bottom: auto; /* set in javascript */
    --left: auto; /* set in javascript */
    --right: auto; /* set in javascript */
    --top: auto; /* set in javascript */

    background: white;
    border: 2px solid;
    border-top: none;
    color: #222;
    font-size: 0.875rem;
    height: calc(var(--height) * 1px);
    left: calc(var(--left) * 1px);
    margin-top: 0;
    max-width: 20rem;
    min-width: 10rem;
    overflow: auto;
    position: fixed;
    top: calc(var(--top) * 1px);
    z-index: 1;
}

.hints-container ul {
    list-style-type: none;
    padding-left: 0
}

.hints-container li {
    padding: 0.25rem 0.5rem;
}

.hints-container * + li {
    border-top: 1px solid;
}

.hints-container li:nth-child(even) {
    background: rgba(0,0,0,0.1);
}

.hints-container li.focus {
    background: rgba(0,0,0,0.2);
    font-weight: bold;
}